<%= form_for(@shipping) do |f| %>
  <% if @shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>

      <ul>
      <% @shipping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.text_field :supplier_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
