<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Model:</b>
  <%= @item.model %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @item.amount %>
</p>

<p>
  <b>Shipping:</b>
  <%= @item.shipping_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
